<form class="space-y-6" [formGroup]="currencyForm" (ngSubmit)="submitCurrency()">
    <div class="space-y-2">
        <p>Devise</p>
        <app-select
            [options]="availableCurrencies()"
            [value]="selectedCurrency()"
            [disabled]="modalService.currency.editing() !== null"
            (valueChange)="selectedCurrency.set($event)"
        ></app-select>
    </div>

    <label for="isDefault">
        <input id="isDefault" type="checkbox" formControlName="isDefault">
        <p>Par défaut</p>
    </label>

    <app-form-error [message]="errorMessage()"/>

    <div class="flex items-center justify-between gap-3">
        @if (modalService.currency.editing()) {
            <button app-button variant="invalid" type="button" (click)="confirmDelete.set(true)" [disabled]="confirmDelete()">
                <svg lucideTrash2 [size]="16"></svg>
                Retirer
            </button>
        }

        <button app-button type="submit" [disabled]="isSubmitting() || confirmDelete()" class="ml-auto">
            @if (isSubmitting()) {
                <svg lucideLoaderCircle [size]="16" class="animate-spin"></svg>
                Envoi...
            } @else {
                <svg lucideSave [size]="16"></svg>
                Sauvegarder
            }
        </button>
    </div>

    @if (confirmDelete()) {
        <div class="mt-6 space-y-3 rounded border border-red/40 bg-red/6 p-5">
            <p class="font-semibold text-red">
                Êtes-vous sûr de retirer cette devise ?
            </p>
            <div class="flex items-center justify-between gap-3">
                <button app-button variant="outline" type="button" (click)="confirmDelete.set(false)">
                    Annuler
                </button>
                <button
                    app-button
                    variant="invalid"
                    type="button"
                    (click)="removeCurrency()"
                    [disabled]="isDeleting()"
                >
                    @if (isDeleting()) {
                        <svg lucideLoaderCircle [size]="16" class="animate-spin"></svg>
                        Suppression...
                    } @else {
                        <svg lucideTrash2 [size]="16"></svg>
                        Confirmer
                    }
                </button>
            </div>
        </div>
    }
</form>
