<section class="space-y-6">
    <div class="bg-beige-lighter border border-gray-light shadow-md shadow-gray/10 rounded p-5 space-y-6">
        <div>
            <h1>Transactions - {{ transactionsByMonth().month || monthService.getMonthLabel() }}</h1>
            <p class="text-gray">{{ transactionsByMonth().count }} résultat@if (transactionsByMonth().count > 1) {s}</p>
        </div>

        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-4 *:flex-1 lg:flex-row lg:items-center">
                <label class="relative">
                    <input
                        type="text"
                        placeholder="Rechercher"
                        class="pl-9"
                    >
                    <svg lucideSearch [size]="16" class="absolute bottom-0 top-3 left-3"></svg>
                </label>

                <app-select
                    [options]="[
                        { value: 'all', label: 'Tout' },
                        { value: 'expense', label: 'Dépense' },
                        { value: 'income', label: 'Revenu' }
                    ]"
                    [value]="selectedType()"
                    label="Type"
                    (valueChange)="selectedType.set($event)"
                ></app-select>

                <app-select
                    [options]="accountOptions()"
                    [value]="selectedAccount()"
                    label="Compte"
                    (valueChange)="selectedAccount.set($event)"
                ></app-select>

                <app-select
                    [options]="categoryOptions()"
                    [value]="selectedCategory()"
                    label="Catégorie"
                    (valueChange)="selectedCategory.set($event)"
                ></app-select>
            </div>

            <div class="flex flex-wrap gap-3">
                @for (tag of tags(); track tag.id) {
                    <button app-badge variant="outline">#{{ tag.label }}</button>
                }
            </div>

            <label for="subscription">
                <input type="checkbox" id="subscription">
                <p>Abonnement</p>
            </label>
        </div>
    </div>

    @if (isLoading()) {
        <p>Chargement en cours...</p>
    } @else if (transactionsByMonth().transactionsByDay.length > 0) {
        @for (dayGroup of transactionsByMonth().transactionsByDay; track dayGroup.date) {
            <div class="bg-beige-lighter border border-gray-light shadow-md shadow-gray/10 rounded p-5 space-y-3">
                <div class="flex items-center justify-between gap-6">
                    <h2>{{ dayGroup.date|date:'longDate' }}</h2>
                    <p class="font-bold">{{ dayGroup.total_amount > 0 ? '+' : '' }}{{ dayGroup.total_amount|currency:dayGroup.total_amount_currency }}</p>
                </div>

                <div class="space-y-1">
                    @for (transaction of dayGroup.transactions; track transaction.id) {
                        <div
                            class="flex items-center justify-between gap-6 rounded px-2 py-4 cursor-pointer transition-all hover:bg-beige-light"
                            (click)="modalService.openEditModal()">
                            <div class="flex items-center gap-6">
                                <div class="aspect-square border rounded-full p-3 {{ this.colorService.getBackground(transaction.category.color) }}">
                                    @if (transaction.type === 'income') {
                                        <svg lucideArrowDownLeft [size]="20"></svg>
                                    } @else {
                                        <svg lucideArrowUpRight [size]="20"></svg>
                                    }
                                </div>
                                <div>
                                    <p class="text-md font-bold">{{ transaction.label }}</p>
                                    <p class="text-sm text-gray">
                                        {{ transaction.account.label }} ·
                                        {{ transaction.category.label }}
                                        @if (transaction.tags && transaction.tags.length > 0) {
                                            · {{ transaction.tags.map(tag => '#' + tag.label).join(', ') }}
                                        }
                                    </p>
                                </div>
                            </div>

                            <p class="font-display text-md">{{ transaction.type === 'expense' ? '-' : '+' }}{{ transaction.amount|currency:transaction.currency.code }}</p>
                        </div>
                    }
                </div>
            </div>
        }
    }
</section>
