<form class="space-y-4">
    <div class="tab-switch-input">
        <label class="has-checked:bg-pink">
            <input type="radio" value="expense" name="type">
            <p>Dépense</p>
        </label>
        <label class="has-checked:bg-green">
            <input type="radio" value="income" name="type">
            <p>Revenu</p>
        </label>
    </div>

    <label>
        <p>Montant</p>
        <input
            type="text"
            placeholder="0.00"
            class="font-display text-md"
        />
    </label>

    <div class="flex items-center gap-3 *:flex-1">
        <label for="currency">
            <p>Devise</p>
            <select name="currency" id="currency" class="custom-select">
                <option value="test">Euros (€)</option>
                <option value="test">Wons (W)</option>
            </select>
        </label>

        <label for="account">
            <p>Compte</p>
            <select name="account" id="account" class="custom-select">
                <option value="test">Caisse d'Epargne</option>
                <option value="test">Revolut</option>
                <option value="test">Shinhan Bank</option>
            </select>
        </label>
    </div>

    <label>
        <p>Label</p>
        <input
            type="text"
            placeholder="Ex: Courses Carrefour"
        />
    </label>

    <div class="flex items-center gap-3 *:flex-1">
        <label for="category">
            <p>Catégorie</p>
            <select name="category" id="category" class="custom-select">
                <option value="test">Maison</option>
                <option value="test">Santé</option>
                <option value="test">Professionnel</option>
                <option value="test">Courses</option>
            </select>
        </label>

        <label>
            <p>Date</p>
            <input
                type="date"
                placeholder="jj/mm/aaaa"
            />
        </label>
    </div>

    <label class="flex flex-col gap-1">
        <p>Tags</p>
        <input
            type="text"
            placeholder="Ex: travaux, vacances..."
            class="order-1"
        />
        <div class="relative flex flex-wrap items-center gap-2">
            <button app-badge variant="secondary">
                #vacances
                <svg lucideX [size]="12"></svg>
            </button>
        </div>
        <div class="order-2 flex flex-wrap items-center gap-2">
            <button app-badge variant="tertiary">+ vacances</button>
            <button app-badge variant="tertiary">+ travaux</button>
        </div>
    </label>

    <label>
        <input
            type="checkbox"
            class="switch"
        />
        <p>Abonnement récurrent</p>
    </label>

    <!--    @if (error()) {-->
    <!--        <div class="bg-red-50 border border-red-200 text-red-700 px-4 py-3 rounded-lg text-sm">-->
    <!--            {{ error() }}-->
    <!--        </div>-->
    <!--    }-->
</form>
