<form class="space-y-4" [formGroup]="goalForm" (ngSubmit)="submitSavingsGoal()">
    <label for="label">
        <p>Label</p>
        <input id="label" type="text" placeholder="Ex : Vacances" formControlName="label">
    </label>

    <div class="flex items-start gap-3 *:flex-1">
        <label for="targetAmount">
            <p>Objectif</p>
            <input id="targetAmount" type="number" placeholder="0.00" min="0" formControlName="targetAmount"
                   class="font-display text-md">
            <app-field-error
                [control]="goalForm.controls['targetAmount']"
                [messages]="{required: 'Ce champ est requis.', nonNegativeNumber: 'Le montant doit être un nombre positif ou nul.'}"
            />
        </label>

        <label for="currencyId">
            <p>Devise</p>
            <select name="currencyId" id="currencyId" formControlName="currencyId" class="custom-select">
                @for (currency of currenciesOptions(); track currency.value) {
                    <option value="{{ currency.value }}">{{ currency.label }}</option>
                }
            </select>
        </label>
    </div>

    <div class="flex items-center gap-3">
        <label for="durationMonths" class="flex-1">
            <p>Nombre de mois</p>
            <input
                id="durationMonths"
                type="number"
                placeholder="12"
                min="1"
                formControlName="durationMonths"
            >
            <app-field-error
                [control]="goalForm.controls['durationMonths']"
                [messages]="{required: 'Ce champ est requis.', min: 'Minimum 1 mois.'}"
            />
        </label>

        <p class="mt-5 text-muted text-sm">
            soit <strong>{{ amountPerMonth|currency:selectedCurrencyCode }}</strong> / mois
        </p>
    </div>

    <div class="flex items-end gap-3">
        <label for="currentAmount" class="flex-1">
            <p>Déjà épargné</p>
            <input id="currentAmount" type="number" placeholder="0.00" min="0" formControlName="currentAmount">
            <app-field-error
                [control]="goalForm.controls['currentAmount']"
                [messages]="{nonNegativeNumber: 'Le montant doit être un nombre positif ou nul.'}"
            />
        </label>

        <button
            app-button
            variant="tertiary"
            (click)="resetCurrentAmount()"
        >
            <svg lucideRotateCcw [size]="16"></svg>
            Mettre à 0
        </button>
    </div>


    <app-form-error [message]="errorMessage()"/>

    <div class="flex items-center justify-between">
        @if (modalService.goal.editing()) {
            <button app-button variant="invalid" (click)="confirmDelete.set(true)" [disabled]="confirmDelete()">
                <svg lucideTrash2 [size]="16"></svg>
                Supprimer
            </button>
        }

        <button app-button type="submit" [disabled]="isSubmitting() || confirmDelete()" class="ml-auto">
            @if (isSubmitting()) {
                <svg lucideLoaderCircle [size]="16" class="animate-spin"></svg>
                Envoi...
            } @else {
                <svg lucideSave [size]="16"></svg>
                Sauvegarder
            }
        </button>
    </div>

    @if (confirmDelete()) {
        <div class="mt-6 space-y-3 rounded border border-red/40 bg-red/6 p-5">
            <p class="font-semibold text-red">
                Êtes-vous sûr de supprimer cet objectif d'épargne ?
            </p>
            <div class="flex items-center justify-between gap-3">
                <button app-button variant="outline" type="button" (click)="confirmDelete.set(false)">
                    Annuler
                </button>
                <button
                    app-button
                    variant="invalid"
                    type="button"
                    (click)="deleteSavingsGoal()"
                    [disabled]="isDeleting()"
                >
                    @if (isDeleting()) {
                        <svg lucideLoaderCircle [size]="16" class="animate-spin"></svg>
                        Suppression...
                    } @else {
                        <svg lucideTrash2 [size]="16"></svg>
                        Confirmer
                    }
                </button>
            </div>
        </div>
    }
</form>
